@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Open sans", sans-serif;
}

html {
  background: #fefffd;
  height: 100%;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100%;
}

a {
  text-decoration: none;
}

mark {
  background-color: #f9f7f9;
}

a:link {
  text-decoration: none;
}

a:hover,
a:active,
a:focus,
a:visited,
a:link {
  text-decoration: none !important;
  color: #8d8d8d;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-track-piece {
  background-color: #d8d8d8;
}

::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  -webkit-border-radius: 10px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb:horizontal {
  height: 30px;
  -webkit-border-radius: 10px;
  background-color: #191919;
}

/*HEADER*/

#header {
  width: 100%;
  height: 100vh;
  left: 0px;
  top: 0px;
  background: #303542;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#headertext {
  width: 100%;
  height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headersubtitle {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: #531a1a;
}

.headertitle {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  color: #ffffff;
}

.button {
  --offset: 50px;
  --border-size: 2px;
  display: block;
  position: relative;
  padding: 35px 45px;
  appearance: none;
  border: 0;
  background: transparent;
  color: #fff;
  letter-spacing: 0.25em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: background 0.8s ease;
  font-size: 25px;
}
.button:hover {
  background: rgba(100, 0, 0, 0.03);
}
.button__horizontal,
.button__vertical {
  position: absolute;
  top: var(--horizontal-offset, 0);
  right: var(--vertical-offset, 0);
  bottom: var(--horizontal-offset, 0);
  left: var(--vertical-offset, 0);
  transition: transform 0.8s ease;
  will-change: transform;
}
.button__horizontal::before,
.button__vertical::before {
  content: "";
  position: absolute;
  border: inherit;
}
.button__horizontal {
  --vertical-offset: calc(var(--offset) * -1);
  border-top: var(--border-size) solid currentcolor;
  border-bottom: var(--border-size) solid currentcolor;
}
.button__horizontal::before {
  top: calc(var(--vertical-offset) - var(--border-size));
  bottom: calc(var(--vertical-offset) - var(--border-size));
  left: calc(var(--vertical-offset) * -1);
  right: calc(var(--vertical-offset) * -1);
}
.button:hover .button__horizontal {
  transform: scaleX(0);
}
.button__vertical {
  --horizontal-offset: calc(var(--offset) * -1);
  border-left: var(--border-size) solid currentcolor;
  border-right: var(--border-size) solid currentcolor;
}
.button__vertical::before {
  top: calc(var(--horizontal-offset) * -1);
  bottom: calc(var(--horizontal-offset) * -1);
  left: calc(var(--horizontal-offset) - var(--border-size));
  right: calc(var(--horizontal-offset) - var(--border-size));
}
.button:hover .button__vertical {
  transform: scaleY(0);
}

/*BARRE DE NAVIGATION*/

#navbar1 {
  width: 100%;
  height: 65px;
  background: rgba(254, 255, 253, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  border-bottom: 1px solid #f4f4f4;
  z-index: 1000;
  top: 0;
  margin-bottom: 20px;
}

#insidenavbar {
  width: 100%;
  max-width: 1123px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  box-sizing: border-box;
  padding-left: 20px;
}

#leftnavbar,
#rightnavbar {
  width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#rightnavbar {
  flex-direction: row-reverse;
}

.liennav,
.liennav a {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 27px;
  text-transform: uppercase;
  color: #0d1317;
}

.navbar {
  display: none;
}

/*MAIN CONTENT*/

.containerpt {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 40px;
}

.containerpt2 {
  flex-direction: column;
  align-items: center;
}

.containerpt3 {
  background: rgb(48, 53, 66);
  min-height: 200px;
  padding: 20px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerptforma {
  flex-direction: column;
  align-items: center;
}

.containerpttel {
  display: none;
}

/*A PROPOS*/

.blocpresentation {
  width: 100%;
  max-width: 1123px;
  display: flex;
  justify-content: center;
}

.presentation01 {
  width: 275px;
  height: 275px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.chiffre {
  width: 275px;
  height: 35px;
  font-family: "Raleway", sans-serif;
  font-style: italic;
  font-weight: 900;
  font-size: 144px;
  text-align: right;
  text-transform: lowercase;
  color: #000;
  opacity: 0.3;
  position: relative;
  top: -20px;
  right: 20px;
}

.titrepartie {
  width: 279px;
  height: 35px;
  font-family: "Raleway", sans-serif;
  font-style: italic;
  font-weight: 900;
  font-size: 45px;
  text-align: right;
  text-transform: lowercase;
  color: #000;
  position: relative;
  top: -50px;
  right: 10px;
}

.presentationtext {
  width: 835px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 171.68%;
  color: #2a2c30;
  text-align: justify;
  padding: 20px;
}

/*FORMATIONS*/

.timeline21 {
  width: 2px;
  height: 360px;
  background: #093148;
  position: relative;
  left: -356px;
  top: 70px;
}

.blocforma {
  width: 100%;
  max-width: 1123px;
  margin-bottom: 50px;
  padding: 20px;
  box-sizing: border-box;
}

.titreformation {
  font-family: "Raleway", sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: #de342b;
  width: 95%;
  max-width: 1123px;
  margin-bottom: 60px;
}

.timeline {
  height: 2px;
  width: 795px;
  background: #093148;
  position: relative;
  left: 40px;
  z-index: 1;
}

.timeup,
.timebottom {
  width: 100%;
  max-width: 1123px;
  display: flex;
  justify-content: space-between;
}

.forevent {
  width: 300px;
  height: auto;
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #eeeeee;
  border-radius: 20px;
}

.event {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #093148;
}

.lieu,
.date {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #353535;
}

.date,
.dateleft,
.dateright {
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}

.ellipseevent {
  width: 10px;
  height: 10px;
  background: #de342b;
  border-radius: 20px;
  position: relative;
  left: 35px;
  top: 6px;
  z-index: 10;
}

.e2 {
  position: relative;
  left: 300px;
}

.ellipse2 {
  top: -6px;
}

.ellipse3 {
  top: -6px;
  left: 75px;
}

.e3 {
  position: relative;
  left: -150px;
  top: 19px;
}

/*EXPERIENCES*/

.blocexp {
  width: 100%;
  max-width: 1123px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.titreexp {
  font-family: "Raleway", sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: #de342b;
  width: 95%;
  max-width: 1123px;
  text-align: right;
}

.bloccomp {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 30px;
  justify-content: center;
}

.window {
  width: 220px;
  height: 190px;
  background: #eeeeee;
  border-radius: 20px 20px 0px 0px;
  box-sizing: border-box;
  margin-left: 5px;
  margin-bottom: 20px;
}

.headwindow {
  width: 220px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #303542;
  border-radius: 20px 20px 0px 0px;
}

.comptitre {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  width: 130px;
}

.optionwindow {
  width: 70px;
  display: flex;
  justify-content: space-between;
}

.opt {
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.opt img {
  width: 10px;
}

.comicon {
  width: 50px;
  margin: 10px;
}

.windowcontent {
  height: 145px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #093148;
  box-sizing: border-box;
  padding: 5px;
  text-align: center;
}

.friseexp,
.friseformatel {
  width: 800px;
  display: flex;
  justify-content: center;
  position: relative;
  left: 80px;
}

.friseformatel {
  display: none;
}

.timeline2 {
  width: 2px;
  height: 700px;
  background: #093148;
  position: relative;
  left: -356px;
  top: 60px;
}

.blocevent2 {
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  margin-bottom: 38px;
}

.ellipseeventexp {
  width: 10px;
  height: 10px;
  background: #de342b;
  border-radius: 20px;
  position: relative;
  z-index: 10;
  margin-left: 30px;
  margin-right: 30px;
}

.eright {
  position: relative;
  left: 30px;
}

.allevents {
  position: relative;
}

.dateright {
  text-align: right;
  width: 300px;
}

.dateleft {
  text-align: left;
  width: 300px;
}

.sousevent {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 19px;
  color: #093148;
}

/*PROJETS*/

.blocprojet {
  width: 100%;
  max-width: 1123px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.titreprojets {
  width: 472px;
  height: 300px;
  background: #171a21;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.chiffreprojet {
  width: 275px;
  height: 35px;
  font-family: "Raleway", sans-serif;
  font-style: italic;
  font-weight: 900;
  font-size: 144px;
  text-align: right;
  text-transform: lowercase;
  color: #fff;
  opacity: 0.3;
  position: relative;
  right: -70px;
  top: -70px;
}

.intituleprojet {
  width: 279px;
  height: 35px;
  font-family: "Raleway", sans-serif;
  font-style: italic;
  font-weight: 900;
  font-size: 45px;
  text-align: right;
  text-transform: lowercase;
  color: #fff;
  position: relative;
  right: -50px;
}

.ptel
{
  display:none;
}

.miniatureprojet {
  width: 400px;
  height: 300px;
  background-size: cover;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 0;
}

.pcontent {
  height: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pcontent:hover {
  opacity: 1;
  transition: 0.3s ease;
}

.pbtn,
.btnvoirprojet {
  width: 80%;
  padding: 20px;
  height: auto;
  text-align: center;
  border-radius: 10px;
    cursor:pointer;
}

.pbtn a,
.pbtn,
.btnvoirprojet a {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
}

.pbtn1 {
  background: #d8a4e0;
  -webkit-box-shadow: 0px 7px 0px 0px #a068a9;
  box-shadow: 0px 7px 0px 0px #a068a9;
}

.pbtn2 {
  background: #f0b13f;
  -webkit-box-shadow: 0px 7px 0px 0px #a97516;
  box-shadow: 0px 7px 0px 0px #a97516;
}

.pbtn3 {
  background: #84a7e1;
  -webkit-box-shadow: 0px 7px 0px 0px #2956a0;
  box-shadow: 0px 7px 0px 0px #2956a0;
}

.pbtn4 {
  background: #ffb4b0;
  -webkit-box-shadow: 0px 7px 0px 0px #ce6762;
  box-shadow: 0px 7px 0px 0px #ce6762;
}

.pbtn5 {
  background: #303542;
  -webkit-box-shadow: 0px 7px 0px 0px #111c39;
  box-shadow: 0px 7px 0px 0px #111c39;
}

.p1 {
  width: 650px;
  background-color: #c4a2ef;
  background-image: url("./IMG/project1img.png");
  position: relative;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.p2 {
  width: 374px;
  background-color: #f0b13f;
  background-image: url("./IMG/project2img.png");
  position: relative;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.p3 {
  width: 374px;
  background-color: #90b4f1;
  background-image: url("./IMG/project3img.png");
  position: relative;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.p4 {
  width: 374px;
  background-color: #ffb4b0;
  background-image: url("./IMG/project4img.png");
  position: relative;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.voirplus {
  width: 133px;
  height: 31px;
  border: 1px solid #c0c0c0;
  box-sizing: border-box;
  border-radius: 20px;
  position: relative;
  margin-top: 10px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #093148;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*CONTACT*/

.contact {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  max-width: 1123px;
  padding-top: 20px;
}

.contact img {
  width: 40px;
  margin: 10px;
}

.credits {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  color: #eee;
  margin-top: 20px;
}

@media screen and (max-width: 1130px) {
  .titreformation {
    left: 20px;
    position: relative;
  }

  .titreexp {
    left: -20px;
    position: relative;
  }

  .titreprojets {
    display: none;
  }

  .presentation01 {
    display: none;
  }

  .friseformatel {
    display: flex;
    justify-content: center;
  }

  .ptel
{
  display:block;
  width:100%;
}

.chiffreprojet{
  top:40px;}

.intituleprojet
{
  top:110px;
  right:-50px;
}

  .p1,
  .p2,
  .p3,
  .p4 {
    width: 50%;
    background-position: center;
  }

  .bloccomp {
    flex-direction: row;
    top: 0;
  }

  .containerptforma {
    display: none;
  }

  .friseexp {
    display: none;
  }
  
  .containerpttel {
    display: block;
  }

  .timeline2tel {
    width: 2px;
    height: 700px;
    background: #093148;
    position: relative;
    left: -356px;
    top: 65px;
  }

}

@media screen and (max-width: 945px) {

  .friseformatel {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 900px) {

  #leftnavbar {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }

  .liennav a {
    font-size: 13px;
  }

  .button {
    font-size: 15px;
    --offset: 10px;
    padding: 20px 15px;
  }

  .blocevent2 {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    position: relative;
  }

  .event,
  .lieu,
  .forevent {
    width: 125px;
    transition: 0.2s;
    word-break: break-word;
  }

  .dateleft {
    width: 90px;
  }

  .friseformatel {
    left: -20px;
    width: 442px;
    position: relative;
  }

  .timeline21 {
    left: -164px;
    top: 105px;
    height: 505px;
  }

  .p1,
  .p2,
  .p3,
  .p4 {
    width: 100%;
    background-position: center;
    left: 0;
    border-radius: 0;
  }

  .timeline2tel {
    width: 2px;
    height: 950px;
    background: #093148;
    position: relative;
    left: -164px;
    top: 90px;
  }
}

.projetheader {
  width: 100%;
  margin: 0;
  height: 530px;
}

h1 {
  width: 100%;
  max-width: 1123px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #353535;
  padding: 20px;
  padding-top: 0;
  padding-bottom: 0;
  box-sizing: border-box;
  height: auto;
}

h2 {
  width: 100%;
  max-width: 1123px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #353535;
  padding: 20px;
  padding-top: 0;
  padding-bottom: 0;
  box-sizing: border-box;
  height:auto;
}

.explication {
  width: 100%;
  max-width: 1123px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #2a2c30;
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
  text-align: justify;
}

.pbtnheader {
  width: 15%;
  margin: 20px;
}

.blocbtnvoirprojet {
  width: 100%;
  max-width: 1123px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
